nav{
    box-sizing: border-box;
    
    height: 100%;
    width: 10rem;
    background-color: #00308F;

    ul{
        margin: 0;
        padding: 1rem;
        list-style: none;
       

        li{
            padding: .5rem 0;
            color: #fff;
            display: flex;
            align-items: center;
            gap:.5rem;
            cursor: pointer;
        }

    }
}